.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* Cambiado a columna para que el iframe quede debajo de la tarjeta */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://e0.pxfuel.com/wallpapers/474/300/desktop-wallpaper-i-love-santiago-del-estero-realistic-balloons-blue-wooden-background-day-of-santiago-del-estero-argentine-provinces-flag-of-santiago-del-estero-argentina-balloon-with-flag-provinces-of-argentina.jpg");
  background-size: cover;
}

.card {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con 90% opacidad */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra más notoria */
  width: 400px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn.primary {
  background-color: #007bff;
  color: white;
}

.btn.secondary {
  background-color: #f44336;
  color: white;
}

.btn.primary:hover {
  background-color: #0056b3;
}

.btn.secondary:hover {
  background-color: #c33d30;
}

.googleCalendar {
  display: flex;
  justify-content: center; /* Centra el iframe horizontalmente */
  margin-top: 30px;
}
